/backend/target/
/.idea
/frontend/node_modules
/frontend/package-lock.json
/frontend/.gitignore
/backend/Cargo.lock
/frontend/public/favicon.ico
/frontend/public/index.html
/frontend/public/logo192.png
/frontend/public/logo512.png
/frontend/public/manifest.json
/frontend/public/robots.txt
